Data Cleaning & Preparation

In [13]:
import pandas as pd

In [14]:
# Merging the two dataframes

df1 = pd.read_csv('../Churn_Model/data/orders.csv')
df2 = pd.read_csv('../Churn_Model/data/return.csv')

# Merge the DataFrames (adjust 'on' parameter as needed)
df = pd.merge(df1, df2[['Order ID', 'Returned']], on='Order ID', how='left')

# Fill NaN in 'Returned' with 'No' (not returned)
df['Returned'] = df['Returned'].fillna('No')

# print where returned is Yes
print(df[df['Returned'] == 'Yes'].shape[0], "orders were returned.")
print(df[df['Returned'] == 'No'].shape[0], "orders were not returned.")

800 orders were returned.
9194 orders were not returned.

In [15]:
# Drop columns that are not needed
df.drop(columns=['Row ID', 'Customer Name', 'Product Name'], inplace=True)

In [16]:
# Change Dtype
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])

# Make new column where returned is 1 and not returned is 0
df['Returned'] = df['Returned'].apply(lambda x: 1 if x == 'Yes' else 0)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Order ID           9994 non-null   object
 1   Order Date         9994 non-null   datetime64[ns]
 2   Ship Date          9994 non-null   datetime64[ns]
 3   Delivery Duration  9994 non-null   int64
 4   Ship Mode          9994 non-null   object
 5   Customer ID        9994 non-null   object
 6   Segment            9994 non-null   object
 7   Country            9994 non-null   object
 8   City               9994 non-null   object
 9   State              9994 non-null   object
 10  Postal Code        9994 non-null   int64
 11  Region             9994 non-null   object
 12  Product ID         9994 non-null   object
 13  Category           9994 non-null   object
 14  Sub-Category       9994 non-null   object
 15  Sales              9994 non-null   float64
 16  Quantity           9994 non-null   int64
 17  Discount           9994 non-null   float64
 18  Discount Value     9994 non-null   float64
 19  Profit             9994 non-null   float64
 20  COGS               9994 non-null   float64
 21  Returned           9994 non-null   int64
dtypes: datetime64[ns](2), float64(5), int64(4), object(11)
memory usage: 1.7+ MB

/var/folders/zk/726f3jx941z84tz1yb_z80v00000gn/T/ipykernel_13805/3007520855.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Order Date'] = pd.to_datetime(df['Order Date'])
/var/folders/zk/726f3jx941z84tz1yb_z80v00000gn/T/ipykernel_13805/3007520855.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Ship Date'] = pd.to_datetime(df['Ship Date'])

In [17]:
# Check for missing values
missing_values = df.isnull().sum()
print("Missing values in each column:")
print(missing_values)

# Check for duplicate rows
duplicate_rows = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_rows}")

Missing values in each column:
Order ID             0
Order Date           0
Ship Date            0
Delivery Duration    0
Ship Mode            0
Customer ID          0
Segment              0
Country              0
City                 0
State                0
Postal Code          0
Region               0
Product ID           0
Category             0
Sub-Category         0
Sales                0
Quantity             0
Discount             0
Discount Value       0
Profit               0
COGS                 0
Returned             0
dtype: int64
Number of duplicate rows: 1

In [20]:
# save the cleaned DataFrame to a new CSV file
df.to_csv('../Churn_Model/data/cleaned_orders.csv', index=False)

In [19]:
df.head()

,Order ID,Order Date,Ship Date,Delivery Duration,Ship Mode,Customer ID,Segment,Country,City,State,...,Product ID,Category,Sub-Category,Sales,Quantity,Discount,Discount Value,Profit,COGS,Returned
0,CA-2016-152156,2016-11-08,2016-11-11,3,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,...,FUR-BO-10001798,Furniture,Bookcases,261.9600,2,0.00,0.000000,41.9136,-220.046400,0
1,CA-2016-152156,2016-11-08,2016-11-11,3,Second Class,CG-12520,Consumer,United States,Henderson,Kentucky,...,FUR-CH-10000454,Furniture,Chairs,731.9400,3,0.00,0.000000,219.5820,-512.358000,0
2,CA-2016-138688,2016-06-12,2016-06-16,4,Second Class,DV-13045,Corporate,United States,Los Angeles,California,...,OFF-LA-10000240,Office Supplies,Labels,14.6200,2,0.00,0.000000,6.8714,-7.748600,0
3,US-2015-108966,2015-10-11,2015-10-18,7,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,...,FUR-TA-10000577,Furniture,Tables,957.5775,5,0.45,-430.909875,-383.0310,-909.698625,0
4,US-2015-108966,2015-10-11,2015-10-18,7,Standard Class,SO-20335,Consumer,United States,Fort Lauderdale,Florida,...,OFF-ST-10000760,Office Supplies,Storage,22.3680,2,0.20,-4.473600,2.5164,-15.378000,0